<?xml version="1.0"?>
<appSettings>
	<add key="GridView.PageSize" value="15"/>
	<add key="GridView.GridLines" value="None"/>
	<add key="Debug.Username" value="peter@theill.com"/>
	<add key="Debug.Password" value="g5zTb4oNXBR1VWyUqhNdcQ=="/>
	<add key="IqAlertsRef.IqAlerts" value="http://services.iquomi.com/IqAlerts.asmx"/>
	<add key="IqProfileRef.IqProfile" value="http://services.iquomi.com/IqProfile.asmx"/>
	<add key="IqContactsRef.IqContacts" value="http://services.iquomi.com/IqContacts.asmx"/>
	<add key="IqPresenceRef.IqPresence" value="http://services.iquomi.com/IqPresence.asmx"/>
	<add key="IqCoreRef.IqCore" value="http://services.iquomi.com/IqCore.asmx"/>
	<add key="IqServicesRef.IqContacts" value="http://services.iquomi.com/IqContacts.asmx"/>
	<add key="IqServicesRef.IqProfile" value="http://services.iquomi.com/IqProfile.asmx"/>
	<add key="IqServicesRef.IqAlerts" value="http://services.iquomi.com/IqAlerts.asmx"/>
	<add key="IqServicesRef.IqCore" value="http://services.iquomi.com/IqCore.asmx"/>
	<add key="IqServicesRef.IqPresence" value="http://services.iquomi.com/IqPresence.asmx"/>
</appSettings>