<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.runtime.remoting>
		<customErrors mode="Off" />

        <!--
        
            Merge this into application hosting this - usually IIS 
        
        -->
        
		<application>
			<service>
				<wellknown mode="Singleton" type="Commanigy.Iquomi.Services.IqAlerts.Alert, Commanigy.Iquomi.Services.IqAlerts.Server" objectUri="alerts.soap" />
			</service>
			<channels>
				<channel ref="http" port="4083" secure="true" authenticationMode="IdentifyCallers">
					<clientProviders>
						<formatter ref="binary" />
					</clientProviders>
					<serverProviders>
						<formatter ref="binary" typeFilterLevel="Full" />
					</serverProviders>
				</channel>
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>