<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="Commanigy.Iquomi.Api.Services.Service" value="http://services.iquomi.com/Service.asmx"/>
        <add key="Commanigy.Iquomi.Api.Services.IqPresence" value="http://services.iquomi.com/IqPresence.asmx"/>
		<add key="Commanigy.Iquomi.Api.Services.IqAlerts" value="http://services.iquomi.com/IqAlerts.asmx"/>
	</appSettings>
</configuration>
