<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Commanigy.Iquomi.Client.Sdk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="Commanigy.Iquomi.Api.Services.Service" value="http://services.iquomi.com/Service.asmx"/>
        <add key="Commanigy.Iquomi.Api.Services.IqPresence" value="http://services.iquomi.com/IqPresence.asmx"/>
		<add key="Commanigy.Iquomi.Api.Services.IqAlerts" value="http://services.iquomi.com/IqAlerts.asmx"/>
	</appSettings>
 <applicationSettings>
  <Commanigy.Iquomi.Client.Sdk.Properties.Settings>
   <setting name="Commanigy_Iquomi_Client_Sdk_Services_Service"
    serializeAs="String">
    <value>http://services.iquomi.com/Service.asmx</value>
   </setting>
  </Commanigy.Iquomi.Client.Sdk.Properties.Settings>
 </applicationSettings>
</configuration>
