<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="developmentSection" type="System.Configuration.SingleTagSectionHandler"/>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Commanigy.Iquomi.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Commanigy.Iquomi.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="log4net-config-file" value="..\\..\\log4net.config" />
		<!--add key="dev-plugin" value="d:\svn.commanigy.com\iquomi\services\IqFavorites\client\windows\obj\Debug\Commanigy.Iquomi.Services.IqFavorites.Client.Windows.dll"/-->
		<add key="dev-plugin" value="..\..\..\..\services\IqAlerts\client\windows\bin\Debug\Commanigy.Iquomi.Services.IqAlerts.Client.Windows.dll" />
		<!-- production web references  -->
		<add key="alertsUrl" value="http://services.iquomi.com:4083/alerts.soap" />
		<add key="Commanigy.Iquomi.Api.Services.Service" value="http://services.iquomi.com/Service.asmx"/>
		<add key="Commanigy.Iquomi.Client.Windows.AdminRef.IquomiWSAdmin" value="http://services.iquomi.com/IquomiWSAdmin.asmx"/>
		<add key="Commanigy.Iquomi.Client.Windows.IqPresenceRef.IqPresence" value="http://services.iquomi.com/IqPresence.asmx"/>
		<add key="Commanigy.Iquomi.Client.Windows.IqProfileRef.IqProfile" value="http://services.iquomi.com/IqProfile.asmx"/>
		<!-- debug web references
		<add key="alertsUrl" value="http://localhost:4083/alerts.soap" />
		<add key="Commanigy.Iquomi.Api.Services.Service" value="http://localhost:4081/webservices/Service.asmx" />
		<add key="Commanigy.Iquomi.Client.Windows.IqPresenceRef.IqPresence" value="http://localhost:4081/webservices/IqPresence.asmx" />
		<add key="Commanigy.Iquomi.Client.Windows.IqProfileRef.IqProfile" value="http://localhost:4081/webservices/IqProfile.asmx" />
		-->
	</appSettings>
	<developmentSection>
		<plugins>
			<plugin name="iqFavorites" type="Commanigy.Iquomi.Services.IqFavorites.dll" />
		</plugins>
	</developmentSection>
	<userSettings>
		<Commanigy.Iquomi.Client.Properties.Settings>
			<setting name="MainWindowSize" serializeAs="String">
				<value>240, 530</value>
			</setting>
		</Commanigy.Iquomi.Client.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<Commanigy.Iquomi.Client.Properties.Settings>
			<setting name="Commanigy_Iquomi_Client_Windows_IqPresenceRef_IqPresence" serializeAs="String">
				<value>http://localhost:4081/webservices/IqPresence.asmx</value>
			</setting>
			<setting name="Commanigy_Iquomi_Client_Windows_IqServicesRef_IqPresence" serializeAs="String">
				<value>http://localhost:4081/webservices/IqPresence.asmx</value>
			</setting>
			<setting name="Commanigy_Iquomi_Client_Windows_IqProfileRef_IqProfile" serializeAs="String">
				<value>http://localhost:4081/webservices/IqProfile.asmx</value>
			</setting>
			<setting name="Commanigy_Iquomi_Client_Windows_IqServicesRef_IqAlerts" serializeAs="String">
				<value>http://localhost:4081/webservices/IqAlerts.asmx</value>
			</setting>
			<setting name="Commanigy_Iquomi_Client_Windows_IqServicesRef_IqContacts" serializeAs="String">
				<value>http://localhost:4081/webservices/IqContacts.asmx</value>
			</setting>
			<setting name="Commanigy_Iquomi_Client_Windows_IqServicesRef_IqCore" serializeAs="String">
				<value>http://localhost:4081/webservices/IqCore.asmx</value>
			</setting>
		</Commanigy.Iquomi.Client.Properties.Settings>
	</applicationSettings>
</configuration>