<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Commanigy.Iquomi.Services.IqContacts.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Commanigy.Iquomi.Services.IqContacts.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Commanigy.Iquomi.Services.IqContacts.Client.Properties.Settings>
            <setting name="Iqid" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="SynchronizeFolder" serializeAs="String">
                <value>True</value>
            </setting>
        </Commanigy.Iquomi.Services.IqContacts.Client.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Commanigy.Iquomi.Services.IqContacts.Client.Properties.Settings>
            <setting name="Commanigy_Iquomi_Services_IqContacts_Client_Windows_Outlook_IqContactsRef_IqContacts"
                serializeAs="String">
                <value>http://localhost:4081/webservices/IqContacts.asmx</value>
            </setting>
        </Commanigy.Iquomi.Services.IqContacts.Client.Properties.Settings>
    </applicationSettings>
</configuration>