<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<connectionStrings>
		<add name="iquomi" connectionString="Data Source=PTHEILL-NB;Initial Catalog=iquomi;Integrated Security=True;Persist Security Info=True;User ID=iquomi-website;Password=iquomi2004" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="Commanigy.Iquomi.UnitTests.IqPresenceRef.IqPresence" value="http://services.iquomi.com/IqPresence.asmx"/>
		<add key="Commanigy.Iquomi.UnitTests.IqProfileRef.IqProfile" value="http://services.iquomi.com/IqProfile.asmx"/>
	</appSettings>
</configuration>