<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Commanigy.Iquomi.Store.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Commanigy.Iquomi.Store.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="Commanigy.Iquomi.Store.IqAlertsRef.IqAlerts" value="http://services.iquomi.com/IqAlerts.asmx"/>
	</appSettings>
	<userSettings>
		<Commanigy.Iquomi.Store.Properties.Settings />
	</userSettings>
	<applicationSettings>
		<Commanigy.Iquomi.Store.Properties.Settings>
			<setting name="Commanigy_Iquomi_Store_IqCoreRef_IqCore" serializeAs="String">
				<value>http://services.iquomi.com/IqCore.asmx</value>
			</setting>
			<setting name="Commanigy_Iquomi_Store_IqAlertsRef_IqAlerts" serializeAs="String">
				<value>http://services.iquomi.com/IqAlerts.asmx</value>
			</setting>
		</Commanigy.Iquomi.Store.Properties.Settings>
	</applicationSettings>
</configuration>
