<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Commanigy.Iquomi.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="Commanigy.Iquomi.UnitTests.IqPresenceRef.IqPresence" value="http://services.iquomi.com/IqPresence.asmx"/>
	</appSettings>
 <applicationSettings>
  <Commanigy.Iquomi.Test.Properties.Settings>
   <setting name="Commanigy_Iquomi_UnitTests_IqPresenceRef_IqPresence"
    serializeAs="String">
    <value>http://services.iquomi.com/IqPresence.asmx</value>
   </setting>
   <setting name="Commanigy_Iquomi_UnitTests_IqProfileRef_IqProfile"
    serializeAs="String">
    <value>http://services.iquomi.com/IqProfile.asmx</value>
   </setting>
  </Commanigy.Iquomi.Test.Properties.Settings>
 </applicationSettings>
</configuration>
