<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!--
        
        Merge this into application hosting this - usually Iquomi client
        
     -->
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Commanigy.Iquomi.Services.IqAlerts.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Commanigy.Iquomi.Services.IqAlerts.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="alertsUrl" value="http://localhost:4083/alerts.soap" />
    </appSettings>

    <system.runtime.remoting>
        <application>
            <channels>
                <channel ref="http" port="0" secure="true" impersonationLevel="Identify">
                    <clientProviders>
                        <formatter ref="binary" />
                    </clientProviders>
                    <serverProviders>
                        <formatter ref="binary" />
                    </serverProviders>
                </channel>
            </channels>,
        </application>
        <debug loadTypes="true" />
    </system.runtime.remoting>
    <userSettings>
        <Commanigy.Iquomi.Services.IqAlerts.Properties.Settings />
    </userSettings>
    <applicationSettings>
        <Commanigy.Iquomi.Services.IqAlerts.Properties.Settings>
            <setting name="IqAlertsRef" serializeAs="String">
                <value>http://localhost:4081/webservices/IqAlerts.asmx</value>
            </setting>
            <setting name="Commanigy_Iquomi_Services_IqAlerts_Client_Windows_IqAlertsRef_IqAlerts"
                serializeAs="String">
                <value>http://localhost:4081/webservices/IqAlerts.asmx</value>
            </setting>
        </Commanigy.Iquomi.Services.IqAlerts.Properties.Settings>
    </applicationSettings>
</configuration>