<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Commanigy.Iquomi.Api.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
  </sectionGroup>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Commanigy.Iquomi.Api.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="Commanigy.Iquomi.Services.Services.Service" value="http://services.iquomi.com/Service.asmx"/>
	</appSettings>
 <userSettings>
  <Commanigy.Iquomi.Api.Properties.Settings />
 </userSettings>
 <applicationSettings>
  <Commanigy.Iquomi.Api.Properties.Settings>
   <setting name="Commanigy_Iquomi_Services_Services_IqAlerts" serializeAs="String">
    <value>http://localhost:4081/webservices/IqAlerts.asmx</value>
   </setting>
  </Commanigy.Iquomi.Api.Properties.Settings>
 </applicationSettings>
</configuration>
